<h1>All messages</h1>
<div id="app">
  <% if current_user %>
    <div>
      New message: <input type="text" v-model="newMessageBody">
      <button v-on:click="createMessage()">Submit</button>
    </div>
  <% end %>

  <div v-for="message in messages">
    <div class='message'>
      {{ message.name }}: {{ message.body }}
    </div>
  </div>
</div>
